<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/index.css" rel="stylesheet">

<body>
   <div class="col-md-6">
      1. Buka situs <a href="https://bimasislam.kemenag.go.id/jadwalshalat">Bimasislam</a><br>
      2. Pilih provinsi D.I. Yogyakarta, kota Yogyakarta, pilih juga bulan dan tahun<br>
      3. Klik proses data, tunggu hingga muncul data<br>
      4. Klik export excel<br>
      5. Upload excel yang telah didownload<br><br>
   </div>
   <div class="upload-btn-wrapper">
      <form action="/upload" enctype="multipart/form-data" method="POST">
         <button class="btn" type="submit">Upload file</button>
         <input type="file" name="excelfile" accept=".xls" />
      </form>
   </div>
   <script src="js/jquery-3.2.1.slim.min.js"></script>
   <script>
      $("input[name='excelfile']").change(function () {
         this.form.submit();
      });
   </script>
</body>

</html>